// Site-wide styles go here
// What shouldn't go here
//   - global declartive classes, mixins, or variables, that goes in -lib.scss

@import "bourbon/_bourbon";

input{
	-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
}
#cboxClose {
	color: white;
	font-size: 11px;
	padding-right: 12px;
	margin-right: 0px;
	position: absolute;
	top: 9px;
	right: 0;
	text-indent: -9999px;
	text-align: left;
	text-transform: capitalize;
	@include sprites-close;
	&:hover{
		@include sprites-close-press;
	}
}
#content{
	background-size: 800px !important;
	background-position: center 10px !important;
	background: image-url("content-box.png") no-repeat top center;
}
#background {
	background: image-url("spring-2011-bg.jpeg") no-repeat top center;
}
.stamp-tr {
	top: 0;
	right: -2px;
}
#nav #nav-inner {
	width: 100%;
}
.row {
	width: 720px;
}
#nav {
	background: image-url("global-tiles-x.png") repeat-x 0 -27px;
}

#content #content-inner {
	width: 100%;
}

.mw_display_none{
	display: none !important;
}

.col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24 {
	width: 100%;
}
#shrto_adbox{
	display: none;
}
