body{
	#toolbar{
		display: none;
	}
	
	#nav{
		height: 87px;
		position: relative;
		#nav-inner{
			> a{
				margin-left: 25px;
				position: absolute;
			}
			.paypal {
				position: absolute;
				top: 17px;
				right: 25px;
			}
			.mw_header-box{
				position: absolute;
				top: 42px;
				right: 31px;
				#WC_LogonLogoffLink{
					@include sprites-user();
					@include sheba-button();
				}
				.mw_checkout a{
					@include sprites-checkout();
					@include sheba-button();
				}
				.mw_cart a{
					@include sprites-cart();
					@include sheba-button();
				}
				> *{
					display: inline-block;
					float: left;
					margin-right: 1px;
				}
			}	
			
			.mw_navicons{
				position: absolute;
				left: 50%;
				top: 22px;
				margin-left: -50px;
				.mw_menu-icon{
					@include sprites-menu-off();
					@include sheba-button();
					border-right: 1px solid #848484;
					&[data-ur-state="enabled"]{
						@include sprites-menu-on();
					}
				}
				.mw_search-icon{
					@include sprites-search-off();
					@include sheba-button();
					&[data-ur-state="enabled"]{
						@include sprites-search-on();
					}
				}
			} // nav-iner
			
		
			
		} // nav
		
		.mw_search{
			padding: 25px 0 15px;				
			height: 50px;
			width: 470px;
			margin: auto;
			border: 1px solid #4c4c4c;
			border-top: 0px none #000;
			position: relative;
			top: 1px;
			
			background-color: #d8d8d8;
			
			-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
			-webkit-border-radius: 0px 0px 10px 10px;
			   -moz-border-radius: 0px 0px 10px 10px;
			        border-radius: 0px 0px 10px 10px;
			
			@include box-shadow(#000 0px 1px 4px);
			
			.search-box{
				margin: 5px auto;
				height: 30px;
				width: 345px;
				.search-input{
					height: 28px;
					width: 275px;
					font-size: 100%;
				}
				.search-submit{
					height: 28px;
					bottom: 2px;
					right: 3px;
				}
			}
		}
		
		.mw_nav-menu-wrapper{
			background: image-url("trans90.png") repeat 0 0;
			min-height: 2000px;
			.mw_nav-menu{
				padding: 25px 0 15px;				
				height: 725px;
				width: 742px;
				margin: auto;
				border: 1px solid #4c4c4c;
				border-top: 0px none #000;
				position: relative;
				top: 1px;
				
				background-color: #d8d8d8;
				
				-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
				-webkit-border-radius: 0px 0px 10px 10px;
				   -moz-border-radius: 0px 0px 10px 10px;
				        border-radius: 0px 0px 10px 10px;
				
				@include box-shadow(#000 0px 1px 4px);	
				
				
				#container{
					height: auto;
					width: 100%;
					position: relative;
					text-align: center;

					-webkit-perspective: 4200;
				}
				.db{
					height: 169px;
					width: 356px;
					display: inline-block;
					margin: 0 2px 10px;

					-webkit-transform-style: preserve-3d;
				}
				h3{
					font-size: 18px;
					margin-bottom: 15px;
					line-height: 1em;
				}
				p{
					margin-bottom: 10px;
				}
				.simple h3, .simple p{
					padding: 20px;
				}
				.block {
					position: absolute;
					height: 169px;
					width: 356px;
					left: 0px;
					top: 0px;

					
					-webkit-transform-style: preserve-3d;
					-webkit-transition: -webkit-transform 1.5s;
					
					> div{
						background-size: 100% !important;
					}
					&#nav-mens{
						.front.side{
							background: image-url("nav-mens.jpg") no-repeat 0 0;
						}
					}
					&#nav-womens{
						.front.side{
							background: image-url("nav-womens.jpg") no-repeat 0 0;
						}
					}
					&#nav-kids{
						.front.side{
							background: image-url("nav-kids.jpg") no-repeat 0 0;
						}
					}				
					&#nav-equipment{
						.front.side{
							background: image-url("nav-equipment.jpg") no-repeat 0 0;
						}
					}
					&#nav-shopby{
						.front.side{
							background: image-url("nav-shopby.jpg") no-repeat 0 0;
						}
					}
					&#nav-exploration{
						.front.side{
							background: image-url("nav-exploration.jpg") no-repeat 0 0;
						}
					}
					&#nav-innovation{
						.front.side{
							background: image-url("nav-innovation.jpg") no-repeat 0 0;
						}
					}
					&#nav-getoutdoors{
						.front.side{
							background: image-url("nav-getoutdoors.jpg") no-repeat 0 0;
						}
					}
				}

				.rotated,
				.mover .block:hover{
					-webkit-transform: rotateY(180deg);
				}

				.block .front{
					z-index: 50;
				}
				.block .back{
					z-index: 10;
					background: image-url("nav-off.jpg") no-repeat 0 0;
				}
				.rotated .back, .mover .block:hover .back{
					z-index: 99;
				}

				.side{
					position: absolute;	
					background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));

					-webkit-backface-visibility: hidden;
					-webkit-box-shadow: 0 2px 5px #ccc;
				}

				.front{
					color: #fff;
					background-color: #000;
					height: 169px;
					width: 356px;


				}
				.front img{ }

				.back{
					background-color: #fff;
					height: 169px;
					width: 356px;

					-webkit-transform: rotateY(180deg);
				}

				.wrapper{
					position:relative;
					-webkit-backface-visibility: hidden;
					
					.mw_col1, .mw_col2, .mw_col3{
						width: 33%;
						float: left;
						text-align: left;
					}
					.mw_col1{
						display: none;
						.mw_title{
							font-family: "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", "Arial-Narrow", "ArialNarrow", Helvetica, Arial, sans-serif;
							font-weight: bold;
							font-stretch: condensed;
							line-height: 19px;
							margin: 17px 20px;
							display: block;
							text-align: left;
							.white{
								color: #fff;
								font-size: 14px;
								display: block;
							}
							.dark{
								color: #0d0d0d;
								display: block;
								font-size: 26px;
							}
						}
						.mw_tile-button{
							background-color: #4f4f4f;
							display: block;
							padding: 9px 10px 8px;
							width: 94px;
							text-align: left;
							color: #fff;
							text-transform: uppercase;
							font-size: 10px;
							margin: 2px 0px 0px 20px;
						}
					}
					.mw_col2, .mw_col3{
						padding-top: 20px;
						padding-left: 10px;
						a{
							display: block;
							font-family: "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", "Arial-Narrow", "ArialNarrow", Helvetica, Arial, sans-serif;
							font-weight: bold;
							font-stretch: condensed;
							font-size: 16px;
							text-shadow: 0px 0px 1px #484848;
							color: #fff;
							line-height: 160%;
							margin-left: 15px;
						}						
					}
					.mw_col2{
						width: 50%;
					}
					.mw_col3{
						a{
							margin-left: 25px;
						}
					}
					
				}
				.goback{
					position: absolute;
					top: 110px;
					right: 25px;
					text-indent: -9999px;
					@include sprites-nav-back();
				}
				.goback:hover{
					cursor: pointer;
				}
				.back .content{
					padding: 50px 25px;
				}
				
				
			}
		}
			
	}
	
}
